/* Slideshow container */

.slideshow-container {
    max-width: 1300px;
    margin: auto;
    margin-top: 33px;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #a83434;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.HotOfferImg {
    width: 200px;
}

.socialMediaListImg {
    width: 60px;
}


/* //////////////////////// */

#ourHistory {
    top: 130px;
}

.h2 {
    text-align: center;
    font-size: 30px;
}

.leftp {
    text-align: justify;
    float: left;
    width: 600px;
    top: 100px;
    left: 63px;
}

.rightp {
    text-align: justify;
    float: right;
    width: 600px;
    top: 325px;
    left: 620px;
}

.leftp2 {
    text-align: justify;
    float: right;
    width: 600px;
    top: 478px;
    left: 120px;
}

.rightimg {
    float: right;
    right: 132px;
    top: 80px;
    width: 360px;
}

.rightimg2 {
    top: 427px;
    left: 820px;
    width: 360px;
}

.leftimg {
    float: left;
    top: 200px;
    left: 100px;
    width: 360px;
}


/* ///////////////////////// */

#HotOffer {
    top: 740px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 10px;
}


/* //////////////////////////// */

#HowToOrder {
    top: 640px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-right: 10px;
}

#socialMedia {
    top: 740px;
}